#users{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    height: 6rem;
}

#users > div{
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: white;
    text-align: center;
    padding:  0.3rem 2rem;
}

#users input{
    border-radius: 100rem;
    border: 1px solid #878787;
    outline: none;
    padding: 0.3rem 0.7rem;
    color: #878787;
}

#users > div.active{
    background-color: #93F5A3;
} 

table{
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}

#shirma{
    width:100%;
    height: calc(100% - 10rem);
    position: absolute;
    top: 10rem;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#shirma button{
    margin: 2rem auto;
    padding: 1rem 1.5rem;
    background-color: #93F5A3;
    border: none;
    border-radius: 0.7rem;
    color: white;
    font-size: 1.4rem;
    transition: 0.3s ease background-color;
    cursor: pointer;
}

#shirma button:hover{
    background-color: #8be79a;
}

#shirma button:active{
    background-color: #79d688;
}

#shirma > div{
    margin: 4rem;
}

#shirma > div > p{
    font-size: 2rem;
    color: #878787;
}

td{
    color: #878787;
    border: 1px solid #878787;
    border-collapse: collapse;
    padding: 2rem;
    font-size: 1.2rem;
}

td:not(.category){
    text-align: center;
    cursor: pointer; 
}

td:not(.category, .disabled):hover{
    background-color: #93F5A3;
    color: white;
}

td:not(.category, .disabled):active{
    background-color: #79d688;
    color: white;
}

td.disabled{
    background-color: #b8b8b8;
    color: #878787;
    cursor: default;
}